[run]
branch = True
concurrency = multiprocessing
data_file = .coverage
source_pkgs =
    avnirpy
relative_files = True
omit =
    avnirpy/version.py
    setup.py
    avnirpy/**/tests/*.py
    avnirpy/scripts/*.py

[report]
skip_empty = True
skip_covered = True
exclude_also =
    if __name__ == "__main__":
    (?<!def )main()

[html]
title = Avnirpy Coverage Report
directory = .test_reports/coverage.html

[xml]
output = .test_reports/coverage.xml
